# Python
__pycache__/
*.pyc
.venv/

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Power BI temporary files
*.pbix.lock

# SQL Server
*.bak

# Data files that are too large
*.zip

# Virtual environment
.venv/